@font-face {
  font-family: Futura;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./assets/fonts/futura/Futura-Light.otf) format('otf')
}

@font-face {
  font-family: Futura;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./assets/fonts/futura/Futura-Regular.ttf) format('truetype')
}

@font-face {
  font-family: Futura;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./assets/fonts/futura/Futura-Medium.otf) format('otf')
}

@font-face {
  font-family: Futura;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./assets/fonts/futura/Futura-Bold.otf) format('otf')
}

@font-face {
  font-family: Futura;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./assets/fonts/futura/Futura-Black.ttf) format('ttf')
}

@import "tailwindcss";

@theme{
  --color-background-base: #EAEAEA;
  --color-kuning: #FEE25B;
  --color-kuning-2 :#E8C100;
  --color-kuning-3: #FBD101;
  --color-hijau-0: #054642;
  --color-hijau-100: #037B5F;
  --color-hijau-text: #02402C;
  --color-hijau-decoration: #05A672;
  --color-putih: #FFFAFA;
  --color-abu: #A7A7A7;

  --tracking-goodscleaning: -0.6em
  /* Custom tight 2 */
  --tracking-tight-2: -0.575em;
  --tracking-tight-3: -0.6em;
}

@utility bg-gradient-hijau {
  background: linear-gradient(90deg, #054642, #037B5F);
  color: transparent;
}

@utility text-gradient-hijau-100 {
  background: linear-gradient(100deg, #02402C, #05A672);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* style.css */
/* poppins */
@utility font-poppins-300 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

@utility font-poppins {
  font-family: 'Poppins', sans-serif;
}

@utility font-poppins-500 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@utility font-poppins-600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

@utility font-poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@utility font-poppins-900 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

/* futura */
@utility font-futura-300 {
  font-family: 'Futura', sans-serif;
  font-weight: 300;
}

@utility font-futura {
  font-family: 'Futura', sans-serif;
  font-weight: 400;
}

@utility font-futura-500 {
  font-family: 'Futura', sans-serif;
  font-weight: 500;
}

@utility font-futura-700 {
  font-family: 'Futura', sans-serif;
  font-weight: 700;
}

@utility font-futura-900 {
  font-family: 'Futura', sans-serif;
  font-weight: 900;
}


@utility text-shadow-3d-left {
  text-shadow: 
    -7px 7px 0 rgba(0,0,0,0.2),
    -9px 9px 0 rgba(0,0,0,0.15),
    -11px 11px 0 rgba(0,0,0,0.1);
}

@layer utilities {
      /* Chrome, Safari and Opera */
      .scrollbar-hidden::-webkit-scrollbar {
        display: none;
      }

      /* Firefox */
      .scrollbar-hidden {
        scrollbar-width: none;
      }

      /* IE and Edge */
      .scrollbar-hidden {
        -ms-overflow-style: none;
      }
    }

@plugin "daisyui";
@plugin "@tailwindcss/typography";
@import "@fontsource/roboto"
@import "@fontsource/roboto/700.css"
@import "@fontsource/roboto/700-italic.css"

@import "@fontsource/poppins"
@import "@fontsource/poppins/700.css"
@import "@fontsource/poppins/900.css"

